// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// basic style
@import 'base';

// 分頁樣式
@import 'pagination';

/* ------------------ universal ------------------ */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 60px;
}

a {
    color: rgb(156 163 175);
    &:hover {
        color: rgb(249 250 251);
        text-decoration: none;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.2px solid rgb(255, 255, 255);
}

#app > div.container-fluid {
    margin-bottom: 5rem;
}

/* ------------------ header ------------------ */
.navbar {
    padding: 0.8rem 1.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-static-top {
    margin-top: 0px;
}

.navbar-right {
    align-items: center;
}

// search
.search-box {
    & > input {
        border: none;
        outline: none;
    }
}

/* ------------------ the related css style of the user's pages ------------------ */
#user-options-selector {
    ul {
        display: none;
        .active {
            background-color: rgb(96 165 250);
            a {
                color: rgb(17 24 39);
            }
        }
    }
}

/***** the angle's rotate of the user-options-selector *****/
// initial
.initial-rotate {
    transform: rotate(0);
    transition: all .3s linear;
    -webkit-transform: rotate(0);
    -webkit-transition: all .3s linear;
}

// after
.rotate{
    transform: rotate(90deg);
    transition: all .3s linear;
    -webkit-transform: rotate(90deg);
    -webkit-transition: all .3s linear;
}

/* ------------------ the related css style of the topic's pages ------------------ */
/***** sidebar *****/
#sidebar-menu {
    .nav-link {
        padding: 1rem;
    }

    .active {
        a {
            background-color: rgb(17 24 39);
        }
    }
}

.sidebar-sticky-top {
    position: sticky;
    top: 74px;
    z-index: 1; 
}

/***** 文章頭部選取區 *****/
.show-selector {
    .active {
        a {
            background-color: rgb(31 41 55);
        }
    }
}

.card-sticky-top {
    position: sticky;
    top: 74px;
    z-index: 1;
}

/***** 文章主內容區 *****/
.list-unstyled a {

    .head-style::after {
        transform: scaleX(0);
        transform-origin: bottom left;
    }

    .head-style::after {
        content: " ";
        display: block;
        border-bottom: 2.5px solid rgb(165, 180, 252);
        z-index: -1;
        transition: transform 1s ease-in-out;
    }

    &:hover {
        text-decoration: none;

        .head-style::after {
            transform: scaleX(1);
            transform-origin: bottom right;
        }
    }
}

/***** simditor editor *****/
.simditor-body img {
    max-width:100%;
}

/* ------------------ footer ------------------ */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
}