// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// basic style
@import 'base';


/* ------------------ universal ------------------ */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 60px;
}

a {
    color: rgb(156 163 175);
    &:hover {
        color: rgb(249 250 251);
        text-decoration: none;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.2px solid rgb(255, 255, 255);
}

/* ------------------ header ------------------ */
.navbar {
    padding: 0.8rem 1.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-static-top {
    margin-top: 0px;
}


/* ------------------ the related css style of the user's pages ------------------ */
#user-options-selector {
    ul {
        display: none;
        .active {
            background-color: rgb(96 165 250);
            a {
                color: rgb(17 24 39);
            }
        }
    }
}

/***** the angle's rotate of the user-options-selector *****/
// initial
.initial-rotate {
    transform: rotate(0);
    transition: all .3s linear;
    -webkit-transform: rotate(0);
    -webkit-transition: all .3s linear;
}

// after
.rotate{
    transform: rotate(90deg);
    transition: all .3s linear;
    -webkit-transform: rotate(90deg);
    -webkit-transition: all .3s linear;
}



/* ------------------ footer ------------------ */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
}